@font-face {
    font-family: "Pyidaungsu Bold";
    src: url("../../fonts/Pyidaungsu-1.8.3_Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Pyidaungsu Number";
    src: url("../../fonts/Pyidaungsu-1.8.3_Numbers.ttf") format("truetype");
}

@font-face {
    font-family: "Pyidaungsu Regular";
    src: url("../../fonts/PYIDAUNGSU-2.5_REGULAR") format("truetype");
}

@font-face {
    font-family: "Pyidaungsu Book Bold";
    src: url("../../fonts/Pyidaungsu-Book-1.8_Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Pyidaungsu Book Regular";
    src: url("../../fonts/Pyidaungsu-Book-1.8_Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Zawgyi";
    src: url("../../fonts/zawgyi_4.30.ttf") format("truetype");
}